
body{
    font-family:sans-serif;
   
}
.container1{
    width:50%;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
    background: linear-gradient(to bottom,rgba(90 50 234 / 35%),rgb(201 168 102 / 63%));
}
.container{
    background-color: white;
    width: 50%;
    height: 100vh;
    position:fixed;
    top: 0px;
    right: 0px;
    margin: auto;

}
.login-box{

    padding: 20px 50px;
    margin-top: 120px;
 }

h2{
    color:#e46c3a;
    font-size: 30px;
}
label[for]{
    font-weight: bold;
}
.remember{
   
    width:20px;
    margin:10px 0;
}

input{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}
.login{
    width: 100%;
    margin: 10 px;
    padding: 10px;
    background:#e46c3a ;
    color: white;
    border: none;
    font-weight: bold;
}


@media only screen and (max-width:600px){
    .container1{
        display: none;
    }
    .container{
        width: 100%;
        
    }
    .login-box{
        margin:120px auto;
        width: 80%;
    }
    h2{
        font-size:30px;
    }
    .login{
        font-size:16px;
    }
}